body {
	background-color: #BA9F38;
}

.gallery-body {
	background-color: #E1CC96;
}

.center{
	text-align: center;
}
.larger-image {
	width: 500px;
	padding-bottom: 100px;

}
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.dosis-normal {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}
.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.gowun-batang-bold {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
}

.josefin-sans-name {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}

.topnav {
  background-color: #60688e;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #688e60;
  color: white;
}
.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}
.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}
.dela-gothic-one-regular {
  font-family: "Dela Gothic One", serif;
  font-weight: 400;
  font-style: normal;
}
.hina-mincho-regular {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}


.gallery-image {
	max-width: 50%;

}

.gallery-image img {
	width: 100%;
}

.gallery-example {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.button_holder {
	display: flex;
	flex-direction: row;
}

button_next {  }
button_previous {  }

.stepper {  }

button {
	background-color: #FCEBD0;
	color: #1D3B28;
	font-family: "Dela Gothic One", serif;
  font-weight: 400;
  font-style: normal;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 2.0rem;
	border: rgb(254 153 79);
}


figcaption {
	color:#1D3B28;
font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  text-align: center;
}


a{
	text-decoration: none;
}

.hideThis {
display: none;
}


h1 {
	color: #FCEBD0;
	font-family: "abril-fatface-regular";
	font-size: 350%;
	text-align: center;
	border-color: #E1CC96;
	border-width: 15px;
	border-style: double;
	border-radius: 10px;
	background-color: #1D3B28;
}
.gallery-h1{
	text-align: center;
	color: rgb(248 241 233);
	font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
	font-size: 200%;
}

p {
	font-family: "gowun-batang-regular";
	font-size: 150%;
	color:#1D3B28;
}
.gallery-p {
		text-align: center;
		font-size: 175%;
  	color: #1D3B28;
  	font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}
.artists-p{
		  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
  font-size: 140%;
}

h2 {
	color: #FCEBD0;
	font-family: "abril-fatface-regular";
	font-size: 200%;
	background-color: #1D3B28;
	border-color: #E1CC96;
	border-width: 5px;
	border-style: solid;
	border-radius:10px;
	display: inline-block;
	padding: 10px;
}
ul {
	text-align: center;
	list-style-position: inside;
	font-size: 115%;
	list-style: none;
	color: #1D3B28;
}
footer {
	font-family: "abril-fatface-regular";
	background-color: #FCEBD0 ;
	height: 50px;
	font-size: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

header {
	font-family: "abril-fatface-regular";
	background-color: #FCEBD0 ;
	height: 50px;
	font-size: 20px;
	display: flex;
	justify-content: space-around;

}


.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*start of media queries*/
@media screen and (max-width: 500px){
main {
	width: 100%;
}
body {
	background-color: #B1BACA;
}


}

@media screen and (min-width: 501px){
main {
	width: 100%;
}
body {
	background-color: #E1CC96;
}

@media screen and (min-width: 720px){
main {
	width: 100%;
}
body {
	background-color: #BA9F38;
}

}
	</style>
